---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -4
PointerAlignment: Right
ReferenceAlignment: Right
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
BinPackArguments: true
BinPackParameters: true
SortIncludes: CaseSensitive
IncludeBlocks: Preserve
NamespaceIndentation: None
SpaceAfterCStyleCast: false
SpacesBeforeTrailingComments: 2
SpacesInParentheses: false
SpacesInSquareBrackets: false
...
